<?xml version="1.0"?>
<config>
	<engine>
		<title>Mini MegaMan X</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="true" />
	</render>
	<window>
		<resolution width="1280" height="768" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<currentGame gameSaved="false" minute="0" second="0" score="0" />
		<map path="Assets/Maps/" name="MegaManMini.tmx" />
		<entities>
			<player x="100" y="455" w="32" h="32" life="16" ammo="0" texture="Assets/Textures/player/Animations.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.02">
						<frame x="0" y="0" w="32" h="34" />
						<frame x="32" y="0" w="32" h="34" />
						<frame x="64" y="0" w="32" h="34" />
					</idle>
					<idleL loop="true" speed="0.02">
						<frame x="96" y="0" w="32" h="34" />
						<frame x="128" y="0" w="32" h="34" />
						<frame x="160" y="0" w="32" h="34" />
					</idleL>
					<run loop="true" speed="0.23">
						<frame x="0" y="80" w="32" h="35" />
						<frame x="32" y="80" w="32" h="35" />
						<frame x="64" y="80" w="32" h="35" />
						<frame x="96" y="80" w="32" h="35" />
						<frame x="128" y="80" w="32" h="35" />
						<frame x="160" y="80" w="32" h="35" />
						<frame x="192" y="80" w="32" h="35" />
						<frame x="224" y="80" w="32" h="35" />
						<frame x="256" y="80" w="32" h="35" />
						<frame x="288" y="80" w="32" h="35" />
						<frame x="320" y="80" w="32" h="35" />
					</run>
					<runL loop="true" speed="0.23">
						<frame x="320" y="115" w="32" h="35" />
						<frame x="288" y="115" w="32" h="35" />
						<frame x="256" y="115" w="32" h="35" />
						<frame x="224" y="115" w="32" h="35" />
						<frame x="192" y="115" w="32" h="35" />
						<frame x="160" y="115" w="32" h="35" />
						<frame x="128" y="115" w="32" h="35" />
						<frame x="96" y="115" w="32" h="35" />
						<frame x="64" y="115" w="32" h="35" />
						<frame x="32" y="115" w="32" h="35" />
						<frame x="0" y="115" w="32" h="35" />
					</runL>
					<jump loop="true" speed="0.17">
						<frame x="0" y="34" w="32" h="46" />
						<frame x="32" y="34" w="32" h="46" />
						<frame x="64" y="34" w="32" h="46" />
						<frame x="96" y="34" w="32" h="46" />
						<frame x="128" y="34" w="32" h="46" />
						<frame x="160" y="34" w="32" h="46" />
					</jump>
					<jumpL loop="true" speed="0.17">
						<frame x="352" y="34" w="32" h="46" />
						<frame x="320" y="34" w="32" h="46" />
						<frame x="288" y="34" w="32" h="46" />
						<frame x="256" y="34" w="32" h="46" />
						<frame x="224" y="34" w="32" h="46" />
						<frame x="192" y="34" w="32" h="46" />
					</jumpL>
					<die loop="true" speed="0.1">
						<frame x="0" y="150" w="32" h="36" />
						<frame x="32" y="150" w="32" h="36" />
						<frame x="64" y="150" w="35" h="36" />
					</die>
					<dieL loop="true" speed="0.1">
						<frame x="166" y="150" w="32" h="36" />
						<frame x="134" y="150" w="32" h="36" />
						<frame x="99" y="150" w="35" h="36" />
					</dieL>
					<punch loop="true" speed="0.12">
						<frame x="0" y="186" w="37" h="34" />
						<frame x="37" y="186" w="37" h="34" />
						<frame x="74" y="186" w="37" h="34" />
						<frame x="111" y="186" w="37" h="34" />
						<frame x="148" y="186" w="37" h="34" />
					</punch>
					<punchL loop="true" speed="0.09">
						<frame x="183" y="186" w="39" h="34" />
						<frame x="224" y="186" w="39" h="34" />
						<frame x="263" y="186" w="39" h="34" />
						<frame x="302" y="186" w="39" h="34" />
					</punchL>
					<idleShoot loop="true" speed="0.09">
						<frame x="0" y="220" w="32" h="34" />
						<frame x="32" y="220" w="32" h="34" />
					</idleShoot>
					<idleShootL loop="true" speed="0.09">
						<frame x="64" y="220" w="32" h="34" />
						<frame x="96" y="220" w="32" h="34" />
					</idleShootL>
				</animations>
			</player>
			<projectiles>
				<bullet name="bullet" x="0" y="0" w="6" h="6" texture="Assets/Textures/Bullet.png" gravity="false">
					<animations>
						<idle loop="false" speed="0.09">
							<frame x="0" y="0" w="12" h="15" />
						</idle>
						<idleL loop="false" speed="0.09">
							<frame x="44" y="15" w="12" h="15" />
						</idleL>
						<hit loop="false" speed="0.3">
							<frame x="12" y="0" w="14" h="15" />
							<frame x="26" y="0" w="15" h="15" />
							<frame x="41" y="0" w="15" h="15" />
						</hit>
						<hitL loop="false" speed="0.3">
							<frame x="30" y="15" w="14" h="15" />
							<frame x="15" y="15" w="15" h="15" />
							<frame x="0" y="15" w="15" h="15" />
						</hitL>
					</animations>
				</bullet>
			</projectiles>
			<items>
				<item name="AmmoCharger" x="3650" y="432" w="14" h="14" texture="Assets/Textures/AmmoCharger.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="14" h="14" />
							<frame x="14" y="0" w="14" h="14" />
							<frame x="28" y="0" w="14" h="14" />
						</idle>
					</animations>
				</item>
				<item name="LifeCharger" x="1380" y="593" w="14" h="15" texture="Assets/Textures/LifeCharger.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="14" h="15" />
							<frame x="14" y="0" w="14" h="15" />
							<frame x="28" y="0" w="14" h="15" />
							<frame x="42" y="0" w="14" h="15" />
						</idle>
					</animations>
				</item>
				<item name="LifeCharger" x="2670" y="341" w="14" h="15" texture="Assets/Textures/LifeCharger.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="14" h="15" />
							<frame x="14" y="0" w="14" h="15" />
							<frame x="28" y="0" w="14" h="15" />
							<frame x="42" y="0" w="14" h="15" />
						</idle>
					</animations>
				</item>
				<item name="LifeCharger" x="3445" y="432" w="14" h="15" texture="Assets/Textures/LifeCharger.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="14" h="15" />
							<frame x="14" y="0" w="14" h="15" />
							<frame x="28" y="0" w="14" h="15" />
							<frame x="42" y="0" w="14" h="15" />
						</idle>
					</animations>
				</item>
				<item name="LifeCharger" x="5711" y="657" w="14" h="15" texture="Assets/Textures/LifeCharger.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="14" h="15" />
							<frame x="14" y="0" w="14" h="15" />
							<frame x="28" y="0" w="14" h="15" />
							<frame x="42" y="0" w="14" h="15" />
						</idle>
					</animations>
				</item>
				<item name="LifeCharger" x="4786" y="157" w="14" h="15" texture="Assets/Textures/LifeCharger.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="14" h="15" />
							<frame x="14" y="0" w="14" h="15" />
							<frame x="28" y="0" w="14" h="15" />
							<frame x="42" y="0" w="14" h="15" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="541" y="449" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="557" y="433" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="779" y="529" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="795" y="513" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="940" y="561" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="956" y="545" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="1768" y="525" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="2870" y="343" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="2886" y="327" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4046" y="529" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4113" y="529" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4175" y="529" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4595" y="625" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4642" y="625" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5266" y="721" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5328" y="721" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5392" y="721" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5518" y="625" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5451" y="625" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4947" y="497" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4947" y="481" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4947" y="465" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5074" y="401" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5130" y="401" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5446" y="369" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5491" y="369" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5568" y="369" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5630" y="369" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5681" y="369" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5748" y="369" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5789" y="369" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5085" y="168" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="5069" y="284" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4990" y="304" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4462" y="176" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4478" y="160" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4179" y="208" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
				<item name="PointsContainer" x="4195" y="192" w="8" h="8" texture="Assets/Textures/PointsContainer.png" gravity="false" eliminated="false">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="8" h="8" />
							<frame x="8" y="0" w="8" h="8" />
							<frame x="16" y="0" w="8" h="8" />
							<frame x="24" y="0" w="8" h="8" />
						</idle>
					</animations>
				</item>
			</items>
			<enemies>
				<enemy name="MetallC15" x="448" y="456" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" eliminated="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="MetallC15" x="1180" y="609" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" eliminated="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="MetallC15" x="2375" y="385" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" eliminated="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="MetallC15" x="3228" y="417" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" eliminated="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="MetallC15" x="5260" y="385" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" eliminated="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="MetallC15" x="5336" y="225" w="22" h="21" texture="Assets/Textures/enemies/MetallC15.png" gravity="true" eliminated="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="22" h="21" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="21" w="22" h="21" />
							<frame x="22" y="21" w="22" h="21" />
							<frame x="44" y="21" w="22" h="21" />
						</appear>
						<idle loop="true" speed="0.2">
							<frame x="0" y="63" w="22" h="21" />
						</idle>
						<idleL loop="true" speed="0.2">
							<frame x="0" y="42" w="22" h="21" />
						</idleL>
						<walk loop="true" speed="0.15">
							<frame x="0" y="63" w="22" h="21" />
							<frame x="22" y="63" w="22" h="21" />
							<frame x="44" y="63" w="22" h="21" />
							<frame x="66" y="63" w="22" h="21" />
						</walk>
						<walkL loop="true" speed="0.15">
							<frame x="0" y="42" w="22" h="21" />
							<frame x="22" y="42" w="22" h="21" />
							<frame x="44" y="42" w="22" h="21" />
							<frame x="66" y="42" w="22" h="21" />
						</walkL>
					</animations>
				</enemy>
				<enemy name="BattonBone" x="3999" y="158" w="21" h="21" texture="Assets/Textures/enemies/BattonBone.png" gravity="false" eliminated="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="39" h="22" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="22" w="39" h="22" />
							<frame x="39" y="22" w="39" h="22" />
							<frame x="78" y="22" w="39" h="22" />
						</appear>
						<fly loop="true" speed="0.15">
							<frame x="0" y="44" w="39" h="22" />
							<frame x="39" y="44" w="39" h="22" />
							<frame x="78" y="44" w="39" h="22" />
							<frame x="117" y="44" w="39" h="22" />
						</fly>
					</animations>
				</enemy>
				<enemy name="BattonBone" x="4480" y="78" w="21" h="21" texture="Assets/Textures/enemies/BattonBone.png" gravity="false" eliminated="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="39" h="22" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="22" w="39" h="22" />
							<frame x="39" y="22" w="39" h="22" />
							<frame x="78" y="22" w="39" h="22" />
						</appear>
						<fly loop="true" speed="0.15">
							<frame x="0" y="44" w="39" h="22" />
							<frame x="39" y="44" w="39" h="22" />
							<frame x="78" y="44" w="39" h="22" />
							<frame x="117" y="44" w="39" h="22" />
						</fly>
					</animations>
				</enemy>
				<enemy name="BattonBone" x="4442" y="408" w="21" h="21" texture="Assets/Textures/enemies/BattonBone.png" gravity="false" eliminated="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="39" h="22" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="22" w="39" h="22" />
							<frame x="39" y="22" w="39" h="22" />
							<frame x="78" y="22" w="39" h="22" />
						</appear>
						<fly loop="true" speed="0.15">
							<frame x="0" y="44" w="39" h="22" />
							<frame x="39" y="44" w="39" h="22" />
							<frame x="78" y="44" w="39" h="22" />
							<frame x="117" y="44" w="39" h="22" />
						</fly>
					</animations>
				</enemy>
				<enemy name="BattonBone" x="5189" y="561" w="21" h="21" texture="Assets/Textures/enemies/BattonBone.png" gravity="false" eliminated="false">
					<animations>
						<hide loop="true" speed="0.2">
							<frame x="0" y="0" w="39" h="22" />
						</hide>
						<appear loop="true" speed="0.09">
							<frame x="0" y="22" w="39" h="22" />
							<frame x="39" y="22" w="39" h="22" />
							<frame x="78" y="22" w="39" h="22" />
						</appear>
						<fly loop="true" speed="0.15">
							<frame x="0" y="44" w="39" h="22" />
							<frame x="39" y="44" w="39" h="22" />
							<frame x="78" y="44" w="39" h="22" />
							<frame x="117" y="44" w="39" h="22" />
						</fly>
					</animations>
				</enemy>
			</enemies>
		</entities>
	</scene>
</config>
