<?xml version="1.0"?>
<config>
	<engine>
		<title>Jump King</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="960" height="720" scale="2" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="MapTemplate.tmx" />
		<entities>
			<player x="251" y="329" w="300" h="32" level="1" texture="Assets/Textures/player/JumpKingSpriteSheet.png" coins="0" lifes="3" seconds="0" played="false">
				<animations>
					<idle loop="true" speed="0.05">
						<frame x="32" y="64" w="32" h="32" />
						<frame x="64" y="64" w="32" h="32" />
						<frame x="96" y="64" w="32" h="32" />
						<frame x="64" y="64" w="32" h="32" />
					</idle>
					<move loop="true" speed="0.2">
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
						<frame x="96" y="0" w="32" h="32" />
					</move>
					<jumping loop="true" speed="0.2">
						<frame x="32" y="32" w="32" h="32" />
					</jumping>
					<falling loop="true" speed="0.2">
						<frame x="64" y="32" w="32" h="32" />
					</falling>
					<splatted loop="true" speed="0.05">
						<frame x="96" y="32" w="32" h="32" />
						<frame x="960" y="32" w="32" h="32" />
						<frame x="96" y="32" w="32" h="32" />
						<frame x="960" y="32" w="32" h="32" />
						<frame x="96" y="32" w="32" h="32" />
						<frame x="960" y="32" w="32" h="32" />
						<frame x="96" y="32" w="32" h="32" />
						<frame x="960" y="32" w="32" h="32" />
					</splatted>
					<idleInv loop="true" speed="0.05">
						<frame x="32" y="208" w="32" h="32" />
						<frame x="64" y="208" w="32" h="32" />
						<frame x="96" y="208" w="32" h="32" />
						<frame x="64" y="208" w="32" h="32" />
					</idleInv>
					<moveInv loop="true" speed="0.2">
						<frame x="32" y="128" w="32" h="32" />
						<frame x="64" y="128" w="32" h="32" />
						<frame x="96" y="128" w="32" h="32" />
					</moveInv>
					<jumpingInv loop="true" speed="0.2">
						<frame x="32" y="160" w="32" h="32" />
					</jumpingInv>
					<fallingInv loop="true" speed="0.2">
						<frame x="64" y="160" w="32" h="32" />
					</fallingInv>
					<splattedInv loop="true" speed="0.05">
						<frame x="96" y="160" w="32" h="32" />
						<frame x="960" y="160" w="32" h="32" />
						<frame x="96" y="160" w="32" h="32" />
						<frame x="960" y="160" w="32" h="32" />
						<frame x="96" y="160" w="32" h="32" />
						<frame x="960" y="160" w="32" h="32" />
						<frame x="96" y="160" w="32" h="32" />
						<frame x="960" y="160" w="32" h="32" />
					</splattedInv>
				</animations>
				<items lvl1="false" lvl2="false" lvl3="false" lvl4="false" lvl5="false" x="0" y="0" type="" />
			</player>
			<enemies>
				<enemy name="Crow" x="291" y="69" w="32" h="26" texture="Assets/Textures/enemy/enemies.png" gravity="false" saved="false">
					<animations>
						<idle loop="true" speed="0.05">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="0" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
						</idle>
						<flying loop="true" speed="0.1">
							<frame x="0" y="64" w="48" h="32" />
							<frame x="48" y="64" w="48" h="32" />
							<frame x="96" y="64" w="48" h="32" />
						</flying>
						<idleGrounded loop="true" speed="0.05">
							<frame x="0" y="32" w="32" h="32" />
							<frame x="32" y="32" w="32" h="32" />
							<frame x="0" y="32" w="32" h="32" />
							<frame x="32" y="32" w="32" h="32" />
							<frame x="0" y="32" w="32" h="32" />
							<frame x="32" y="32" w="32" h="32" />
							<frame x="0" y="32" w="32" h="32" />
							<frame x="64" y="32" w="32" h="32" />
							<frame x="96" y="32" w="32" h="32" />
						</idleGrounded>
						<flyingGrounded loop="true" speed="0.1">
							<frame x="0" y="96" w="48" h="32" />
							<frame x="48" y="96" w="48" h="32" />
							<frame x="96" y="96" w="48" h="32" />
						</flyingGrounded>
						<hutaoAttack loop="true" speed="0.1">
							<frame x="0" y="128" w="32" h="32" />
							<frame x="32" y="128" w="32" h="32" />
							<frame x="64" y="128" w="32" h="32" />
							<frame x="96 " y="128" w="32" h="32" />
							<frame x="128" y="128" w="32" h="32" />
							<frame x="160" y="128" w="32" h="32" />
							<frame x="192" y="128" w="32" h="32" />
							<frame x="224" y="128" w="32" h="32" />
							<frame x="256" y="128" w="32" h="32" />
							<frame x="288" y="128" w="32" h="32" />
							<frame x="320" y="128" w="32" h="32" />
							<frame x="352" y="128" w="32" h="32" />
							<frame x="384" y="128" w="32" h="32" />
							<frame x="416" y="128" w="32" h="32" />
							<frame x="448" y="128" w="32" h="32" />
							<frame x="480" y="128" w="32" h="32" />
							<frame x="512" y="128" w="32" h="32" />
							<frame x="544" y="128" w="32" h="32" />
							<frame x="576" y="128" w="32" h="32" />
							<frame x="608" y="128" w="32" h="32" />
							<frame x="640" y="128" w="32" h="32" />
							<frame x="672" y="128" w="32" h="32" />
							<frame x="704" y="128" w="32" h="32" />
							<frame x="736" y="128" w="32" h="32" />
						</hutaoAttack>
						<hutaoIdle loop="true" speed="0.1">
							<frame x="0" y="160" w="32" h="32" />
							<frame x="32" y="160" w="32" h="32" />
							<frame x="64" y="160" w="32" h="32" />
							<frame x="96 " y="160" w="32" h="32" />
							<frame x="128" y="160" w="32" h="32" />
							<frame x="160" y="160" w="32" h="32" />
							<frame x="192" y="160" w="32" h="32" />
							<frame x="224" y="160" w="32" h="32" />
							<frame x="256" y="160" w="32" h="32" />
							<frame x="288" y="160" w="32" h="32" />
							<frame x="320" y="160" w="32" h="32" />
							<frame x="352" y="160" w="32" h="32" />
							<frame x="384" y="160" w="32" h="32" />
							<frame x="416" y="160" w="32" h="32" />
							<frame x="448" y="160" w="32" h="32" />
							<frame x="480" y="160" w="32" h="32" />
							<frame x="512" y="160" w="32" h="32" />
							<frame x="544" y="160" w="32" h="32" />
							<frame x="576" y="160" w="32" h="32" />
							<frame x="608" y="160" w="32" h="32" />
							<frame x="640" y="160" w="32" h="32" />
							<frame x="672" y="160" w="32" h="32" />
							<frame x="704" y="160" w="32" h="32" />
							<frame x="736" y="160" w="32" h="32" />
						</hutaoIdle>
					</animations>
				</enemy>
			</enemies>
			<checkpointbf x="-200" y="328" w="32" h="32" texture="Assets/Textures/Bonfire/Bonfire.png" taken1="false" taken2="false" taken3="false">
				<animations>
					<notTaken loop="true" speed="0.1">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
					</notTaken>
					<taken loop="true" speed="0.1">
						<frame x="0" y="32" w="32" h="32" />
						<frame x="32" y="32" w="32" h="32" />
						<frame x="64" y="32" w="32" h="32" />
					</taken>
				</animations>
			</checkpointbf>
		</entities>
	</scene>
</config>
