<?xml version="1.0"?>
<config>
	<engine>
		<title>Kim's Underworld</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1280" height="720" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<intro path="Assets/Textures/Menus/Intro/intro-screen.png" />
	<mainmenu>
		<bg path="Assets/Textures/Menus/Title Screen/title screen pixel bg.png" />
		<buttons defaultTex="Assets/Textures/Menus/Title Screen/title screen button sheet.png">
			<newGameBt id="1" x="448" y="230" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/New Game Button Sheet.png" />
			<testLevelBt id="13" x="448" y="326" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Test Level Button Sheet.png" />
			<continueBt id="2" x="4000" y="78" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Continue Button Sheet.png" />
			<optionsBt id="3" x="448" y="422" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Options Button Sheet.png" />
			<creditsBt id="4" x="448" y="518" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Credits Button Sheet.png" />
			<exitBt id="5" x="448" y="614" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Exit Button Sheet.png" />
			<backBt id="6" x="448" y="614" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Back Button Sheet.png" />
		</buttons>
		<credits path="Assets/Textures/Menus/Title Screen/credits screen.png" />
	</mainmenu>
	<settings>
		<optPanel x="0" y="0" w="1280" h="720" path="Assets/Textures/Menus/Options/settings-panel.png" />
		<sliders barW="384" barH="40" barTexture="Assets/Textures/Menus/Options/slider.png" circleW="70" circleH="70" texture="Assets/Textures/Menus/Options/pumpkinBt.png">
			<musicSlider id="7" barX="448" circleX="450" barY="236" circleY="221" />
			<sfxSlider id="8" barX="448" circleX="450" barY="364" circleY="349" />
		</sliders>
		<fullScreenBox id="9" x="605" y="490" w="140" h="70" texture="Assets/Textures/Menus/Options/checkBox_sheet.png" />
		<backBt id="6" x="448" y="587" w="384" h="64" texture="Assets/Textures/Menus/Options/back.png" />
	</settings>
	<scene>
		<ui>
			<heartContainers path="Assets/Textures/UI/lifeSimp.png" />
			<piquetaNormal path="Assets/Textures/UI/piqueta_normal.png" />
			<piquetaGastada path="Assets/Textures/UI/piqueta_gastada.png" />
			<barraPiqueta path="Assets/Textures/UI/barra.png" />
			<barraRoja path="Assets/Textures/UI/barra_roja.png" />
			<orbSoul path="Assets/Textures/UI/orbSoul.png" />
		</ui>
		<map>
			<paths>
				<lvl1 path="Assets/Maps/" name="Tutorial.tmx" />
				<lvl2 path="Assets/Maps/" name="Playground.tmx" />
			</paths>
			<parallax>
				<layer name="sky" path="Assets/Textures/Parallax/Fondo_Front.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="5" repeatNum="15" slowY="1" />
				<layer name="sky2" path="Assets/Textures/Parallax/Fondo_mid.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="3" repeatNum="15" slowY="1" />
				<layer name="sky3" path="Assets/Textures/Parallax/Fondo_back.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="2" repeatNum="15" slowY="1" />
			</parallax>
		</map>
		<helpMenu x="252" y="9" w="379" h="295" path="Assets/Textures/Menus/Help/HelpMenu_ver2.png" lvl="1" />
		<entities>
			<player w="64" h="64" lives="3" texture="Assets/Textures/Kim/Kim_spriteSheet.png">
				<startPositions>
					<lvl1 x="150" y="3400" />
					<lvl2 x="150" y="1040" />
				</startPositions>
				<propierties gJumpForce="6.5f" pJumpForce="6.5f" pushForce="7.0f" moveSpeed="0.7f" friction="0.0f" gravity="9.0f" attack1Time="0.8f" attack2Time="1.0f" hurtTime="1.0f" respawnTime=" 2.0f" playerState="0" direction="1" shootCooldown="5" />
				<statesFlow>
					<idle idle="false" run="true" jump="true" fall="true" punch="true" throw="true" mele="true" hurt="true" dead="true" />
					<run idle="true" run="false" jump="true" fall="true" punch="true" throw="true" mele="true" hurt="true" dead="true" />
					<jump idle="true" run="false" jump="false" fall="true" punch="true" throw="true" mele="true" hurt="true" dead="true" />
					<fall idle="true" run="false" jump="false" fall="false" punch="true" throw="true" mele="true" hurt="true" dead="true" />
					<punch idle="true" run="false" jump="false" fall="false" punch="false" throw="false" mele="false" hurt="true" dead="true" />
					<throw idle="true" run="false" jump="false" fall="false" punch="false" throw="false" mele="false" hurt="true" dead="true" />
					<melee idle="true" run="false" jump="false" fall="false" punch="false" throw="false" mele="false" hurt="true" dead="true" />
					<hurt idle="false" run="false" jump="false" fall="false" punch="false" throw="false" mele="false" hurt="false" dead="false" />
					<dead idle="false" run="false" jump="false" fall="false" punch="false" throw="false" mele="false" hurt="false" dead="false" />
				</statesFlow>
				<animations>
					<idle loop="true" speed="0.05f">
						<frame x="0" y="0" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="64" y="0" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="128" y="0" w="64" h="64" offsetX="0" offsetY="1" />
					</idle>
					<walk loop="true" speed="0.3f">
						<frame x="0" y="192" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="64" y="192" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="128" y="192" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="192" y="192" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="256" y="192" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="320" y="192" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="384" y="192" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="448 " y="192" w="64" h="64" offsetX="0" offsetY="1" />
					</walk>
					<jump loop="false" speed="0.2f">
						<frame x="64" y="64" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="128" y="64" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="192" y="64" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="256" y="64" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="320" y="64" w="64" h="64" offsetX="0" offsetY="1" />
					</jump>
					<fall loop="false" speed=" 0.2f">
						<frame x="320" y="64" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="384" y="64" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="448" y="64" w="64" h="64" offsetX="0" offsetY="1" />
					</fall>
					<hurt loop="true" speed="0.2f">
						<frame x="0" y="608" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="64" y="608" w="64" h="64" offsetX="0" offsetY="1" />
					</hurt>
					<death loop="false" speed="0.2f">
						<frame x="0" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="64" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="128" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="192" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="256" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="320" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="384" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="448" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="512" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="576" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="640" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="704" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="768" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="832" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="896" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="960" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1024" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1088" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1152" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1216" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1280" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1344" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1408" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1472" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1536" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1600" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1664" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1728" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="1792" y="512" w="64" h="96" offsetX="0" offsetY="-31" />
					</death>
					<chop loop="false" speed="0.2f">
						<frame x="64" y="336" w="64" h="80" offsetX="0" offsetY="-15" />
						<frame x="128" y="336" w="64" h="80" offsetX="0" offsetY="-15" />
						<frame x="192" y="336" w="64" h="80" offsetX="0" offsetY="-15" />
						<frame x="256" y="336" w="64" h="80" offsetX="0" offsetY="-15" />
					</chop>
					<punch loop="false" speed="0.2f">
						<frame x="64" y="128" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="128" y="128" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="192" y="128" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="256" y="128" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="320" y="128" w="64" h="64" offsetX="0" offsetY="1" />
						<frame x="384" y="128" w="64" h="64" offsetX="0" offsetY="1" />
					</punch>
					<throwPix loop="false" speed="0.4f">
						<frame x="64" y="256" w="64" h="80" offsetX="0" offsetY="-15" />
						<frame x="128" y="256" w="64" h="80" offsetX="0" offsetY="-15" />
						<frame x="192" y="256" w="64" h="80" offsetX="0" offsetY="-15" />
						<frame x="256" y="256" w="64" h="80" offsetX="0" offsetY="-15" />
					</throwPix>
					<throwPixUp loop="false" speed="0.5f">
						<frame x="448" y="416" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="512" y="416" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="576" y="416" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="640" y="416" w="64" h="96" offsetX="0" offsetY="-31" />
						<frame x="704" y="416" w="64" h="96" offsetX="0" offsetY="-31" />
					</throwPixUp>
				</animations>
			</player>
			<shot x="0" y="0" w="64" h="64" rad="5" texture="Assets/Textures/Pumpkin Head/fireball-sheet-test.png">
				<animations>
					<travel loop="true" speed="0.2f">
						<frame x="0" y="0" w="64" h="64" />
						<frame x="64" y="0" w="64" h="64" />
						<frame x="128" y="0" w="64" h="64" />
						<frame x="192" y="0" w="64" h="64" />
					</travel>
				</animations>
			</shot>
			<enemies>
				<skeleton x="100" y="420" w="64" h="64" texture="Assets/Textures/Enemies/Fantasma/Fantasma_spriteSheet.png">
					<properties speed="1" chaseArea="400" attackArea="20" jumpForce="0.3f" attackTime="1.0f" deathTime="1.5f" lives="3" pushForce="1" pushFriction="5" lootAmount="5" canPush="true" />
					<animations>
						<idle loop="true" speed="0.2f">
							<frame x="0" y="0" w="64" h="64" />
							<frame x="64" y="0" w="64" h="64" />
							<frame x="128" y="0" w="64" h="64" />
							<frame x="192" y="0" w="64" h="64" />
							<frame x="256" y="0" w="64" h="64" />
							<frame x="320" y="0" w="64" h="64" />
							<frame x="384" y="0" w="64" h="64" />
							<frame x="448" y="0" w="64" h="64" />
							<frame x="512" y="0" w="64" h="64" />
							<frame x="576" y="0" w="64" h="64" />
							<frame x="640" y="0" w="64" h="64" />
							<frame x="704" y="0" w="64" h="64" />
						</idle>
						<walk loop="true" speed="0.2f">
							<frame x="0" y="64" w="64" h="64" />
							<frame x="64" y="64" w="64" h="64" />
							<frame x="128" y="64" w="64" h="64" />
							<frame x="192" y="64" w="64" h="64" />
							<frame x="256" y="64" w="64" h="64" />
							<frame x="320" y="64" w="64" h="64" />
							<frame x="384" y="64" w="64" h="64" />
						</walk>
						<attack loop="false" speed="0.1f">
							<frame x="0" y="48" w="64" h="64" />
							<frame x="48" y="48" w="64" h="64" />
							<frame x="96" y="48" w="64" h="64" />
							<frame x="144" y="48" w="64" h="64" />
							<frame x="0" y="48" w="64" h="64" />
						</attack>
						<death loop="false" speed="0.2f">
							<frame x="0" y="128" w="64" h="64" />
							<frame x="64" y="128" w="64" h="64" />
							<frame x="128" y="128" w="64" h="64" />
							<frame x="192" y="128" w="64" h="64" />
							<frame x="256" y="128" w="64" h="64" />
							<frame x="320" y="128" w="64" h="64" />
							<frame x="384" y="128" w="64" h="64" />
						</death>
					</animations>
				</skeleton>
				<bat x="250" y="350" w="32" h="32" texture="Assets/Textures/Enemies/Bat/Vampire/BatVampire_Sheet.png">
					<properties speed="1" chaseArea="100" deathTime="1.0f" lives="3" pushForce="1" pushFriction="5" lootAmount="5" canPush="true" />
					<animations>
						<idle loop="true" speed="0.2f">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
						</idle>
						<attack loop="true" speed="0.2f">
							<frame x="0" y="32" w="32" h="32" />
							<frame x="32" y="32" w="32" h="32" />
							<frame x="64" y="32" w="32" h="32" />
							<frame x="96" y="32" w="32" h="32" />
							<frame x="128" y="32" w="32" h="32" />
							<frame x="160" y="32" w="32" h="32" />
						</attack>
						<hurt loop=" false" speed="0.2f">
							<frame x="0" y="64" w="32" h="32" />
							<frame x="32" y="64" w="32" h="32" />
							<frame x="64" y="64" w="32" h="32" />
							<frame x="96" y="64" w="32" h="32" />
						</hurt>
						<death loop=" false" speed="0.1f">
							<frame x="0" y="96" w="32" h="32" />
							<frame x="32" y="96" w="32" h="32" />
							<frame x="64" y="96" w="32" h="32" />
							<frame x="96" y="96" w="32" h="32" />
							<frame x="128" y="96" w="32" h="32" />
							<frame x="192" y="96" w="32" h="32" />
							<frame x="224" y="96" w="32" h="32" />
						</death>
					</animations>
				</bat>
				<santa x="250" y="350" w="32" h="32" texture="Assets/Textures/Enemies/Santa_Boss/santa_sheet.png" lvl="1">
					<properties speed="1" deathTime="1.0f" jumpRange="100" jumpCooldown="5" attackRange="30" attackTime="1" pushForce="0.5f" hurtTime="1.0f" lives="10" />
					<animations>
						<idle loop="true" speed="0.2f">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
						</idle>
						<walk loop="true" speed="0.2f">&gt;
							<frame x="0" y="32" w="32" h="32" />
							<frame x="32" y="32" w="32" h="32" />
							<frame x="64" y="32" w="32" h="32" />
							<frame x="96" y="32" w="32" h="32" />
							<frame x="128" y="32" w="32" h="32" />
							<frame x="160" y="32" w="32" h="32" />
						</walk>
						<jump loop="false" speed="0.2f">&gt;
							<frame x="0" y="64" w="32" h="32" />
							<frame x="32" y="64" w="32" h="32" />
							<frame x="64" y="64" w="32" h="32" />
							<frame x="96" y="64" w="32" h="32" />
							<frame x="128" y="64" w="32" h="32" />
							<frame x="160" y="64" w="32" h="32" />
						</jump>
						<fall loop="false" speed="0.2f">&gt;
							<frame x="192" y="64" w="32" h="32" />
							<frame x="224" y="64" w="32" h="32" />
						</fall>
						<hurt loop="false" speed="0.2f">
							<frame x="0" y="96" w="32" h="32" />
							<frame x="32" y="96" w="32" h="32" />
							<frame x="64" y="96" w="32" h="32" />
						</hurt>
						<attack loop="false" speed="0.2f">&gt;
							<frame x="0" y="128" w="32" h="32" />
							<frame x="32" y="128" w="32" h="32" />
							<frame x="64" y="128" w="32" h="32" />
							<frame x="96" y="128" w="32" h="32" />
							<frame x="128" y="128" w="32" h="32" />
							<frame x="160" y="128" w="32" h="32" />
						</attack>
						<death loop="false" speed="0.2f">&gt;
							<frame x="0" y="224" w="32" h="32" />
							<frame x="32" y="224" w="32" h="32" />
							<frame x="64" y="224" w="32" h="32" />
							<frame x="96" y="224" w="32" h="32" />
							<frame x="128" y="224" w="32" h="32" />
							<frame x="160" y="224" w="32" h="32" />
							<frame x="192" y="224" w="32" h="32" />
						</death>
					</animations>
				</santa>
				<instances>
					<lvl1>
						<instance enemyType="skeleton" entityType="5">
							<point x="5210" y=" 2530" />
							<point x="5210" y=" 2530" />
						</instance>
						<instance enemyType="skeleton" entityType="5">
							<point x="4642" y=" 920" />
							<point x="4642" y=" 920" />
						</instance>
						<instance enemyType="skeleton" entityType="5">
							<point x="7530" y="3625" />
							<point x="7530" y="3625" />
						</instance>
						<instance enemyType="skeleton" entityType="5">
							<point x="7400" y="4500" />
							<point x="7400" y="4500" />
						</instance>
						<instance enemyType="skeleton" entityType="5">
							<point x="9630" y="1370" />
							<point x="9630" y="1370" />
						</instance>
					</lvl1>
				</instances>
			</enemies>
			<items>
				<checkPoints>
					<properties w="128" h="128" texture="Assets/Textures/Objects/checkpoint.png" />
					<instances>
						<lvl1>
							<instance entityType="2" x="3568" y="2432" />
							<instance entityType="2" x="9792" y="3392" />
						</lvl1>
					</instances>
					<animations>
						<unlit>
							<frame x="0" y="0" w="128" h="128" />
						</unlit>
						<lit loop="true" speed="0.3f">
							<frame x="128" y="0" w="128" h="128" />
							<frame x="256" y="0" w="128" h="128" />
						</lit>
					</animations>
				</checkPoints>
				<soulRock>
					<properties w="64" h="64" texture="Assets/Textures/Objects/SoulRock.png" />
					<instances>
						<lvl1>
							<instance entityType="8" x="4235" y="876" flipped="true" />
							<instance entityType="8" x="8931" y="4524" flipped="false" />
						</lvl1>
					</instances>
					<animations>
						<idle loop="true" speed="0.1f">
							<frame x="0" y="0" w="64" h="64" />
						</idle>
						<fractured loop="true" speed="0.1f">
							<frame x="64" y="0" w="64" h="64" />
						</fractured>
						<broken loop="true" speed="0.1f">
							<frame x="128" y="0" w="64" h="64" />
						</broken>
					</animations>
				</soulRock>
			</items>
			<allies>
				<merchant x="400" y="3400" w="64" h="64" texture="Assets/Textures/Enemies/Fantasma/Fantasma_spriteSheet.png">
					<properties speed="0.8" movementArea="300" detectionArea="200" />
					<instances>
						<lvl1>
							<instance entityType="10" x="190" y="3400"/>
						</lvl1>
					</instances>
					<animations>
						<idle loop="true" speed="0.2f">
							<frame x="0" y="0" w="64" h="64" />
							<frame x="64" y="0" w="64" h="64" />
							<frame x="128" y="0" w="64" h="64" />
							<frame x="192" y="0" w="64" h="64" />
							<frame x="256" y="0" w="64" h="64" />
							<frame x="320" y="0" w="64" h="64" />
							<frame x="384" y="0" w="64" h="64" />
							<frame x="448" y="0" w="64" h="64" />
							<frame x="512" y="0" w="64" h="64" />
							<frame x="576" y="0" w="64" h="64" />
							<frame x="640" y="0" w="64" h="64" />
							<frame x="704" y="0" w="64" h="64" />
						</idle>
						<walk loop="true" speed="0.2f">
							<frame x="0" y="64" w="64" h="64" />
							<frame x="64" y="64" w="64" h="64" />
							<frame x="128" y="64" w="64" h="64" />
							<frame x="192" y="64" w="64" h="64" />
							<frame x="256" y="64" w="64" h="64" />
							<frame x="320" y="64" w="64" h="64" />
							<frame x="384" y="64" w="64" h="64" />
						</walk>
					</animations>
				</merchant>
			</allies>
			<currencyOrb>
				<orbSmall x="0" y="0" w="64" h="64" texture="Assets/Textures/Objects/soulOrb.png">
					<animations>
						<orbSmall loop="true" speed="0.2f">
							<frame x="0" y="0" w="64" h="64" />
							<frame x="64" y="0" w="64" h="64" />
							<frame x="128" y="0" w="64" h="64" />
							<frame x="192" y="0" w="64" h="64" />
							<frame x="256" y="0" w="64" h="64" />
							<frame x="320" y="0" w="64" h="64" />
							<frame x="384" y="0" w="64" h="64" />
							<frame x="448" y="0" w="64" h="64" />
							<frame x="512" y="0" w="64" h="64" />
							<frame x="576" y="0" w="64" h="64" />
							<frame x="640" y="0" w="64" h="64" />
							<frame x="704" y="0" w="64" h="64" />
							<frame x="768" y="0" w="64" h="64" />
							<frame x="832" y="0" w="64" h="64" />
							<frame x="896" y="0" w="64" h="64" />
							<frame x="960" y="0" w="64" h="64" />
							<frame x="1024" y="0" w="64" h="64" />
							<frame x="1088" y="0" w="64" h="64" />
							<frame x="1152" y="0" w="64" h="64" />
							<frame x="1216" y="0" w="64" h="64" />
						</orbSmall>
					</animations>
				</orbSmall>
				<orbMedium x="0" y="0" w="64" h="64" texture="Assets/Textures/Objects/soulOrb.png">
					<animations>
						<orbMedium loop="true" speed="0.2f">
							<frame x="0" y="64" w="64" h="64" />
							<frame x="64" y="64" w="64" h="64" />
							<frame x="128" y="64" w="64" h="64" />
							<frame x="192" y="64" w="64" h="64" />
							<frame x="256" y="64" w="64" h="64" />
							<frame x="320" y="64" w="64" h="64" />
							<frame x="384" y="64" w="64" h="64" />
							<frame x="448" y="64" w="64" h="64" />
							<frame x="512" y="64" w="64" h="64" />
							<frame x="576" y="64" w="64" h="64" />
							<frame x="640" y="64" w="64" h="64" />
							<frame x="704" y="64" w="64" h="64" />
							<frame x="768" y="64" w="64" h="64" />
							<frame x="832" y="64" w="64" h="64" />
							<frame x="896" y="64" w="64" h="64" />
							<frame x="960" y="64" w="64" h="64" />
							<frame x="1024" y="64" w="64" h="64" />
							<frame x="1088" y="64" w="64" h="64" />
							<frame x="1152" y="64" w="64" h="64" />
							<frame x="1216" y="64" w="64" h="64" />
						</orbMedium>
					</animations>
				</orbMedium>
				<orbBig x="0" y="0" w="64" h="96" texture="Assets/Textures/Objects/soulOrb.png">
					<animations>
						<orbBig loop="true" speed="0.2f">
							<frame x="0" y="128" w="64" h="96" />
							<frame x="64" y="128" w="64" h="96" />
							<frame x="128" y="128" w="64" h="96" />
							<frame x="192" y="128" w="64" h="96" />
							<frame x="256" y="128" w="64" h="96" />
							<frame x="320" y="128" w="64" h="96" />
							<frame x="384" y="128" w="64" h="96" />
							<frame x="448" y="128" w="64" h="96" />
							<frame x="512" y="128" w="64" h="96" />
							<frame x="576" y="128" w="64" h="96" />
							<frame x="640" y="128" w="64" h="96" />
							<frame x="704" y="128" w="64" h="96" />
							<frame x="768" y="128" w="64" h="96" />
							<frame x="832" y="128" w="64" h="96" />
							<frame x="896" y="128" w="64" h="96" />
							<frame x="960" y="128" w="64" h="96" />
							<frame x="1024" y="128" w="64" h="96" />
							<frame x="1088" y="128" w="64" h="96" />
							<frame x="1152" y="128" w="64" h="96" />
							<frame x="1216" y="128" w="64" h="96" />
						</orbBig>
					</animations>
				</orbBig>
			</currencyOrb>
		</entities>
		<pauseMenu>
			<pausePanel x="0" y="0" w="1280" h="720" texture="Assets/Textures/Menus/Pause/pause-panel.png" />
			<buttons>
				<resumeBt id="10" x="448" y="223" w="384" h="64" texture="Assets/Textures/Menus/Pause/resume resized.png" />
				<optionsBt id="3" x="448" y="319" w="384" h="64" texture="Assets/Textures/Menus/Pause/options resized.png" />
				<backToTitleBt id="11" x="448" y="415" w="384" h="64" texture="Assets/Textures/Menus/Pause/back to title.png" />
				<exitBt id="5" x="448" y="511" w="384" h="64" texture="Assets/Textures/Menus/Pause/exit centered.png" />
			</buttons>
		</pauseMenu>
		<deathMenu>
			<bg path="Assets/Textures/Menus/Win-Lose/lose screen no text.png" />
			<icons>
				<candy x="24" y="17" w="38" h="33" textX="70" textY="22" textW="19" textH="23" path="Assets/Textures/Menus/Win-Lose/candy icon.png" />
			</icons>
			<buttons>
				<retryBt id="12" x="76" y="253" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/Retry Button Sheet resized.png" />
				<backToTitleBt id="11" x="330" y="253" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/back to title.png" />
				<exitBt id="5" x="505" y="19" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/Exit Button Sheet_Resized.png" />
			</buttons>
		</deathMenu>
		<winMenu>
			<bg path="Assets/Textures/Menus/Win-Lose/winScreen.png" />
			<icons>
				<candy x="24" y="17" w="38" h="33" textX="70" textY="22" textW="19" textH="23" path="Assets/Textures/Menus/Win-Lose/candy icon.png" />
			</icons>
			<buttons>
				<replayBt id="12" x="379" y="125" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/Replay Button Sheet resized.png" />
				<backToTitleBt id="11" x="379" y="180" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/back to title.png" />
				<exitBt id="5" x="379" y="236" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/exit centered.png" />
			</buttons>
		</winMenu>
	</scene>
	<audio>
		<music>
			<menuMus path="Assets/Audio/Music/menu_intro.wav" />
			<lvl1Mus path="Assets/Audio/Music/lvl_1-5_music.wav" />
			<lvl2Mus path="Assets/Audio/Music/lvl_6-11_music.wav" />
			<winMus path="Assets/Audio/Music/ending.wav" />
			<loseMus path="Assets/Audio/Music/died.wav" />
			<bossMus path="Assets/Audio/Music/final_boss.wav" />
		</music>
		<fx>
			<playerJumpSFX path="Assets/Audio/Fx/King/Land/king_jump.wav" />
			<playerLandSFX path="Assets/Audio/Fx/King/Land/king_land.wav" />
			<atk1SFX path="Assets/Audio/Fx/King/Land/king_splat.wav" />
			<atk2SFX path="Assets/Audio/Fx/King/Land/king_bump.wav" />
			<throwSFX path="Assets/Audio/Fx/King/Ice/king_jump.wav" />
			<hurtSFX path="Assets/Audio/Fx/SquidHit.ogg" />
			<gDeathSFX path="Assets/Audio/Fx/SinkOMO.ogg" />
			<pickCandy path="Assets/Audio/Fx/OMO_pickedItem.ogg" />
			<pourCandy path="Assets/Audio/Fx/candyPour.ogg" />
			<eatCandy path="Assets/Audio/Fx/candyEat.ogg" />
			<saveGame path="Assets/Audio/Fx/SaveGame.ogg" />
			<loadGame path="Assets/Audio/Fx/LoadGame.ogg" />
			<godModeSFX path="Assets/Audio/Fx/i-am-a-god.ogg" />
			<batWingsSFX path="Assets/Audio/Fx/BatWings.ogg" />
			<farBatWings path="Assets/Audio/Fx/FarBatWings.ogg" />
			<batDeathSFX path="Assets/Audio/Fx/BatDeath.ogg" />
			<swordSFX path="Assets/Audio/Fx/SwordSlash.ogg" />
			<skeletonDeathSFX path="Assets/Audio/Fx/SkeletonDeath.ogg" />
			<noSound path="Assets/Audio/Fx/NoSound.ogg" />
			<punchSound path="Assets/Audio/Fx/Punch.ogg" />
			<santaHurtSound path="Assets/Audio/Fx/SantaHurt.ogg" />
			<santaJumpSound path="Assets/Audio/Fx/SantaJump.ogg" />
			<testSound path="Assets/Audio/Fx/Fushigi.ogg" />
		</fx>
	</audio>
	<playerPrefs>
		<fullscreen toggle="0" />
		<musicVolume value="128" />
		<sfxVolume value="52" />
	</playerPrefs>
</config>
