<?xml version="1.0"?>
<config>
	<engine>
		<title>Kim's Underworld</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1280" height="720" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<intro path="Assets/Textures/Menus/Intro/intro-screen.png" />
	<mainmenu>
		<bg path="Assets/Textures/Menus/Title Screen/title screen pixel bg.png" />
		<buttons defaultTex="Assets/Textures/Menus/Title Screen/title screen button sheet.png">
			<newGameBt id="1" x="448" y="230" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/New Game Button Sheet.png" />
			<testLevelBt id="13" x="448" y="326" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Test Level Button Sheet.png" />
			<continueBt id="2" x="4000" y="78" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Continue Button Sheet.png" />
			<optionsBt id="3" x="448" y="422" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Options Button Sheet.png" />
			<creditsBt id="4" x="448" y="518" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Credits Button Sheet.png" />
			<exitBt id="5" x="448" y="614" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Exit Button Sheet.png" />
			<backBt id="6" x="448" y="614" w="384" h="64" texture="Assets/Textures/Menus/Title Screen/Back Button Sheet.png" />
		</buttons>
		<credits path="Assets/Textures/Menus/Title Screen/credits screen.png" />
	</mainmenu>
	<settings>
		<optPanel x="0" y="0" w="1280" h="720" path="Assets/Textures/Menus/Options/settings-panel.png" />
		<sliders barW="384" barH="40" barTexture="Assets/Textures/Menus/Options/slider.png" circleW="70" circleH="70" texture="Assets/Textures/Menus/Options/pumpkinBt.png">
			<musicSlider id="7" barX="448" circleX="450" barY="236" circleY="221" />
			<sfxSlider id="8" barX="448" circleX="450" barY="364" circleY="349" />
		</sliders>
		<fullScreenBox id="9" x="605" y="490" w="140" h="70" texture="Assets/Textures/Menus/Options/checkBox_sheet.png" />
		<backBt id="6" x="448" y="587" w="384" h="64" texture="Assets/Textures/Menus/Options/back.png" />
	</settings>
	<scene>
		<ui>
			<heartContainers path="Assets/Textures/UI/Retro Inventory/Original/hearts.png" />
			<candyCounter path="Assets/Textures/UI/candy icon.png" />
			<sandClock path="Assets/Textures/UI/sandClockSheet-outlined.png">
				<animations>
					<sand loop="true" speed="0.05f">
						<frame x="0" y="0" w="17" h="18" />
						<frame x="17" y="0" w="17" h="18" />
						<frame x="34" y="0" w="17" h="18" />
						<frame x="51" y="0" w="17" h="18" />
					</sand>
				</animations>
			</sandClock>
		</ui>
		<map>
			<paths>
				<lvl1 path="Assets/Maps/" name="Tutorial.tmx" />
				<lvl2 path="Assets/Maps/" name="Tutorial.tmx" />
			</paths>
			<parallax>
				<layer name="mountain1" path="Assets/Textures/Parallax/Mountain1OFF.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="20" repeatNum="8" slowY="30" />
				<layer name="mountain2" path="Assets/Textures/Parallax/Mountain2OFF.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="10" repeatNum="8" slowY="5" />
				<layer name="cloud1" path="Assets/Textures/Parallax/Cloud1X2.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="5" repeatNum="6" slowY="1" />
				<layer name="moon" path="Assets/Textures/Parallax/MoonX2.png" marginX="480" marginY="0" spacing="0" width="640" height="360" slowX="2" repeatNum="1" slowY="1" />
				<layer name="cloud2" path="Assets/Textures/Parallax/Cloud2X2.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="4" repeatNum="6" slowY="1" />
				<layer name="cloud3" path="Assets/Textures/Parallax/Cloud3X2.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="3" repeatNum="6" slowY="1" />
				<layer name="sky" path="Assets/Textures/Parallax/SkyX2.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="1" repeatNum="6" slowY="1" />
			</parallax>
		</map>
		<helpMenu x="252" y="9" w="379" h="295" path="Assets/Textures/Menus/Help/HelpMenu_ver2.png" lvl="1" />
		<entities>
			<player w="64" h="64" lives="3" texture="Assets/Textures/Kim/Kim_spriteSheet.png">
				<startPositions>
					<lvl1 x="150" y="3400" />
					<lvl2 x="150" y="3400" />
				</startPositions>
				<propierties gJumpForce="14.0f" pJumpForce="18.0f" pushForce="5.0f" moveSpeed="0.7f" friction="2.0f" gravity="9.0f" attack1Time="0.8f" attack2Time="1.0f" hurtTime="1.0f" respawnTime=" 2.0f" playerState="0" direction="1" shootCooldown="5" />
				<statesFlow>
					<idle idle="false" run="true" jump="true" fall="true" punch="true" throw="true" mele="true" />
					<run idle="true" run="false" jump="true" fall="true" punch="true" throw="true" mele="true" />
					<jump idle="true" run="false" jump="false" fall="true" punch="true" throw="true" mele="true" />
					<fall idle="true" run="false" jump="false" fall="false" punch="true" throw="true" mele="true" />
					<punch idle="true" run="false" jump="false" fall="false" punch="false" throw="false" mele="false" />
					<throw idle="true" run="false" jump="false" fall="false" punch="false" throw="false" mele="false" />
					<melee idle="true" run="false" jump="false" fall="false" punch="false" throw="false" mele="false" />
				</statesFlow>
				<animations>
					<idle loop="true" speed="0.05f">
						<frame x="0" y="0" w="64" h="64" />
						<frame x="64" y="0" w="64" h="64" />
						<frame x="128" y="0" w="64" h="64" />
					</idle>
					<walk loop="true" speed="0.2f">
						<frame x="0" y="192" w="64" h="64" />
						<frame x="64" y="192" w="64" h="64" />
						<frame x="128" y="192" w="64" h="64" />
						<frame x="64" y="192" w="64" h="64" />
					</walk>
					<jump loop="false" speed="0.2f">
						<frame x="64" y="64" w="64" h="64" />
						<frame x="128" y="64" w="64" h="64" />
						<frame x="192" y="64" w="64" h="64" />
						<frame x="256" y="64" w="64" h="64" />
						<frame x="320" y="64" w="64" h="64" />
					</jump>
					<fall loop="false" speed=" 0.2f">
						<frame x="320" y="64" w="64" h="64" />
						<frame x="384" y="64" w="64" h="64" />
						<frame x="448" y="64" w="64" h="64" />
					</fall>
					<hurt loop="false" speed="0.15f">
						<frame x="0" y="0" w="64" h="64" />
					</hurt>
					<death loop="false" speed="0.2f">
						<frame x="0" y="0" w="64" h="64" />
					</death>
					<chop loop="false" speed="0.2f">
						<frame x="64" y="336" w="64" h="80" />
						<frame x="128" y="336" w="64" h="80" />
						<frame x="192" y="336" w="64" h="80" />
						<frame x="256" y="336" w="64" h="80" />
					</chop>
					<punch loop="false" speed="0.2f">
						<frame x="64" y="128" w="64" h="64" />
						<frame x="128" y="128" w="64" h="64" />
						<frame x="192" y="128" w="64" h="64" />
						<frame x="256" y="128" w="64" h="64" />
						<frame x="320" y="128" w="64" h="64" />
						<frame x="384" y="128" w="64" h="64" />
					</punch>
					<throwPix loop="false" speed="0.2f">
						<frame x="64" y="256" w="64" h="80" />
						<frame x="128" y="256" w="64" h="80" />
						<frame x="192" y="256" w="64" h="80" />
					</throwPix>
				</animations>
			</player>
			<shot x="0" y="0" w="64" h="64" rad="5" texture="Assets/Textures/Pumpkin Head/fireball-sheet-test.png">
				<animations>
					<travel loop="true" speed="0.2f">
						<frame x="0" y="0" w="64" h="64" />
						<frame x="64" y="0" w="64" h="64" />
						<frame x="128" y="0" w="64" h="64" />
						<frame x="192" y="0" w="64" h="64" />
					</travel>
				</animations>
			</shot>
			<enemies>
				<skeleton x="100" y="420" w="48" h="48" texture="Assets/Textures/Enemies/Undead/SwordsMan-reorganized_spritesheet.png">
					<properties speed="1" chaseArea="100" attackArea="20" jumpForce="0.3f" attackTime="1.0f" deathTime="1.5f" lives="1" />
					<animations>
						<idle loop="true" speed="0.2f">
							<frame x="0" y="0" w="48" h="48" />
						</idle>
						<walk loop="true" speed="0.2f">
							<frame x="0" y="0" w="48" h="48" />
							<frame x="48" y="0" w="48" h="48" />
							<frame x="96" y="0" w="48" h="48" />
							<frame x="144" y="0" w="48" h="48" />
						</walk>
						<attack loop="false" speed="0.1f">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="0" y="48" w="48" h="48" />
						</attack>
						<death loop="false" speed="0.2f">
							<frame x="0" y="96" w="48" h="48" />
							<frame x="48" y="96" w="48" h="48" />
							<frame x="96" y="96" w="48" h="48" />
						</death>
					</animations>
				</skeleton>
				<bat x="250" y="350" w="32" h="32" texture="Assets/Textures/Enemies/Bat/Vampire/BatVampire_Sheet.png">
					<properties speed="1" chaseArea="100" deathTime="1.0f" lives="1" />
					<animations>
						<idle loop="true" speed="0.2f">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
						</idle>
						<attack loop="true" speed="0.2f">
							<frame x="0" y="32" w="32" h="32" />
							<frame x="32" y="32" w="32" h="32" />
							<frame x="64" y="32" w="32" h="32" />
							<frame x="96" y="32" w="32" h="32" />
							<frame x="128" y="32" w="32" h="32" />
							<frame x="160" y="32" w="32" h="32" />
						</attack>
						<hurt loop=" false" speed="0.2f">
							<frame x="0" y="64" w="32" h="32" />
							<frame x="32" y="64" w="32" h="32" />
							<frame x="64" y="64" w="32" h="32" />
							<frame x="96" y="64" w="32" h="32" />
						</hurt>
						<death loop=" false" speed="0.1f">
							<frame x="0" y="96" w="32" h="32" />
							<frame x="32" y="96" w="32" h="32" />
							<frame x="64" y="96" w="32" h="32" />
							<frame x="96" y="96" w="32" h="32" />
							<frame x="128" y="96" w="32" h="32" />
							<frame x="192" y="96" w="32" h="32" />
							<frame x="224" y="96" w="32" h="32" />
						</death>
					</animations>
				</bat>
				<santa x="250" y="350" w="32" h="32" texture="Assets/Textures/Enemies/Santa_Boss/santa_sheet.png" lvl="1">
					<properties speed="1" deathTime="1.0f" jumpRange="100" jumpCooldown="5" attackRange="30" attackTime="1" pushForce="0.5f" hurtTime="1.0f" lives="10" />
					<animations>
						<idle loop="true" speed="0.2f">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
						</idle>
						<walk loop="true" speed="0.2f">&gt;
							<frame x="0" y="32" w="32" h="32" />
							<frame x="32" y="32" w="32" h="32" />
							<frame x="64" y="32" w="32" h="32" />
							<frame x="96" y="32" w="32" h="32" />
							<frame x="128" y="32" w="32" h="32" />
							<frame x="160" y="32" w="32" h="32" />
						</walk>
						<jump loop="false" speed="0.2f">&gt;
							<frame x="0" y="64" w="32" h="32" />
							<frame x="32" y="64" w="32" h="32" />
							<frame x="64" y="64" w="32" h="32" />
							<frame x="96" y="64" w="32" h="32" />
							<frame x="128" y="64" w="32" h="32" />
							<frame x="160" y="64" w="32" h="32" />
						</jump>
						<fall loop="false" speed="0.2f">&gt;
							<frame x="192" y="64" w="32" h="32" />
							<frame x="224" y="64" w="32" h="32" />
						</fall>
						<hurt loop="false" speed="0.2f">
							<frame x="0" y="96" w="32" h="32" />
							<frame x="32" y="96" w="32" h="32" />
							<frame x="64" y="96" w="32" h="32" />
						</hurt>
						<attack loop="false" speed="0.2f">&gt;
							<frame x="0" y="128" w="32" h="32" />
							<frame x="32" y="128" w="32" h="32" />
							<frame x="64" y="128" w="32" h="32" />
							<frame x="96" y="128" w="32" h="32" />
							<frame x="128" y="128" w="32" h="32" />
							<frame x="160" y="128" w="32" h="32" />
						</attack>
						<death loop="false" speed="0.2f">&gt;
							<frame x="0" y="224" w="32" h="32" />
							<frame x="32" y="224" w="32" h="32" />
							<frame x="64" y="224" w="32" h="32" />
							<frame x="96" y="224" w="32" h="32" />
							<frame x="128" y="224" w="32" h="32" />
							<frame x="160" y="224" w="32" h="32" />
							<frame x="192" y="224" w="32" h="32" />
						</death>
					</animations>
				</santa>
				<instances>
					<lvl1 />
				</instances>
			</enemies>
			<items>
				<candies>
					<properties w="16" h="16" texture="Assets/Textures/Items/candySheet.png" />
					<instances>
						<lvl1 />
					</instances>
					<animations>
						<floating loop="true" speed="0.1f">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="16" y="0" w="16" h="16" />
							<frame x="32" y="0" w="16" h="16" />
							<frame x="48" y="0" w="16" h="16" />
						</floating>
					</animations>
				</candies>
				<pumpkins>
					<properties w="16" h="16" texture="Assets/Textures/Items/pumpkin ui obj-resized.png" />
					<instances>
						<lvl1 />
					</instances>
					<animations>
						<unlit>
							<frame x="0" y="0" w="16" h="16" />
						</unlit>
						<lit>
							<frame x="0" y="16" w="16" h="16" />
						</lit>
					</animations>
				</pumpkins>
			</items>
		</entities>
		<savedData saved="true" level="1" time="0" startBossFight="false" bossKilled="false">
			<lvl1>
				<player x="150" y="3400" lives="3" transformable="false" transformed="false" candies="0" />
			</lvl1>
		</savedData>
		<pauseMenu>
			<pausePanel x="0" y="0" w="1280" h="720" texture="Assets/Textures/Menus/Pause/pause-panel.png" />
			<buttons>
				<resumeBt id="10" x="448" y="223" w="384" h="64" texture="Assets/Textures/Menus/Pause/resume resized.png" />
				<optionsBt id="3" x="448" y="319" w="384" h="64" texture="Assets/Textures/Menus/Pause/options resized.png" />
				<backToTitleBt id="11" x="448" y="415" w="384" h="64" texture="Assets/Textures/Menus/Pause/back to title.png" />
				<exitBt id="5" x="448" y="511" w="384" h="64" texture="Assets/Textures/Menus/Pause/exit centered.png" />
			</buttons>
		</pauseMenu>
		<deathMenu>
			<bg path="Assets/Textures/Menus/Win-Lose/lose screen no text.png" />
			<icons>
				<candy x="24" y="17" w="38" h="33" textX="70" textY="22" textW="19" textH="23" path="Assets/Textures/Menus/Win-Lose/candy icon.png" />
			</icons>
			<buttons>
				<retryBt id="12" x="76" y="253" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/Retry Button Sheet resized.png" />
				<backToTitleBt id="11" x="330" y="253" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/back to title.png" />
				<exitBt id="5" x="505" y="19" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/Exit Button Sheet_Resized.png" />
			</buttons>
		</deathMenu>
		<winMenu>
			<bg path="Assets/Textures/Menus/Win-Lose/winScreen.png" />
			<icons>
				<candy x="24" y="17" w="38" h="33" textX="70" textY="22" textW="19" textH="23" path="Assets/Textures/Menus/Win-Lose/candy icon.png" />
			</icons>
			<buttons>
				<replayBt id="12" x="379" y="125" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/Replay Button Sheet resized.png" />
				<backToTitleBt id="11" x="379" y="180" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/back to title.png" />
				<exitBt id="5" x="379" y="236" w="233" h="39" texture="Assets/Textures/Menus/Win-Lose/exit centered.png" />
			</buttons>
		</winMenu>
	</scene>
	<audio>
		<music>
			<menuMus path="Assets/Audio/Music/Nothing As It Seems.ogg" />
			<lvl1Mus path="Assets/Audio/Music/Haunted Towers.ogg" />
			<lvl2Mus path="Assets/Audio/Music/Crystal Conundrum (Remix).ogg" />
			<winMus path="Assets/Audio/Music/Yo-kai Watch 2 Victory.ogg" />
			<loseMus path="Assets/Audio/Music/Yo-kai Watch Defeat.ogg" />
			<bossMus path="Assets/Audio/Music/BossSong.ogg" />
		</music>
		<fx>
			<gJumpSFX path="Assets/Audio/Fx/ghostJump.ogg" />
			<pJumpSFX path="Assets/Audio/Fx/pumpkinJump.ogg" />
			<atk1SFX path="Assets/Audio/Fx/atk1_alt.ogg" />
			<atk2SFX path="Assets/Audio/Fx/customATK2.ogg" />
			<switchOnSFX path="Assets/Audio/Fx/SwitchON.ogg" />
			<switchOffSFX path="Assets/Audio/Fx/SwitchOFF.ogg" />
			<gHurtSFX path="Assets/Audio/Fx/SquidHit.ogg" />
			<pHurtSFX path="Assets/Audio/Fx/BonkSFX.ogg" />
			<gDeathSFX path="Assets/Audio/Fx/SinkOMO.ogg" />
			<pDeathSFX path="Assets/Audio/Fx/PumpkinCrack.ogg" />
			<pickCandy path="Assets/Audio/Fx/OMO_pickedItem.ogg" />
			<pourCandy path="Assets/Audio/Fx/candyPour.ogg" />
			<eatCandy path="Assets/Audio/Fx/candyEat.ogg" />
			<saveGame path="Assets/Audio/Fx/SaveGame.ogg" />
			<loadGame path="Assets/Audio/Fx/LoadGame.ogg" />
			<godModeSFX path="Assets/Audio/Fx/i-am-a-god.ogg" />
			<batWingsSFX path="Assets/Audio/Fx/BatWings.ogg" />
			<farBatWings path="Assets/Audio/Fx/FarBatWings.ogg" />
			<batDeathSFX path="Assets/Audio/Fx/BatDeath.ogg" />
			<swordSFX path="Assets/Audio/Fx/SwordSlash.ogg" />
			<skeletonDeathSFX path="Assets/Audio/Fx/SkeletonDeath.ogg" />
			<noSound path="Assets/Audio/Fx/NoSound.ogg" />
			<punchSound path="Assets/Audio/Fx/Punch.ogg" />
			<santaHurtSound path="Assets/Audio/Fx/SantaHurt.ogg" />
			<santaJumpSound path="Assets/Audio/Fx/SantaJump.ogg" />
			<testSound path="Assets/Audio/Fx/Fushigi.ogg" />
		</fx>
	</audio>
	<playerPrefs>
		<fullscreen toggle="0" />
		<musicVolume value="78" />
		<sfxVolume value="77" />
	</playerPrefs>
</config>
